@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Lexend", sans-serif !important;
}


/* Add this to your tailwind.config.js or CSS file if you're not using inline styles */
@layer utilities {
  .image-transition {
    animation: slideIn 3s ease-in-out forwards;
    width: 0;
    overflow: hidden;
  }
}

@keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
