/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

:root {
  /* font-family: "Sora", serif; */
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  /* font-family: "Sora", sans-serif; */
  font-family: "Lexend", sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll; /* Ensures scrolling is still possible */
  scrollbar-width: none; /* For Firefox */
  /* font-family: "Sora", sans-serif; */
  font-family: "Lexend", sans-serif;
}
html::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

/* Navbar Css */
.nav-btn.MuiButton-root {
  color: #ffffff;
  background: none;
  font-weight: 600;
}

.nav-btn.MuiButton-root:hover {
  background-color: lightblue;
}
