.feeScomponent_Parent{
    background: #000 !important;
    color: #fff;
    padding: 0;
    padding-bottom: 15px;
    margin: auto;
    width: 100%;
    min-width: 350px;
}

.feeHeading{
    font-size: 64px;    
    text-align: center;
    padding: 10px 0px;
    margin-bottom: 20px;
    width: 100%;
    
}
.feeHeading > span:nth-child(1){
    background: linear-gradient(90deg, #637AFF 33.5%, #eb1636 74%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
    text-align: center;
}
.feeHeading > span:nth-child(2){
    background: linear-gradient(90deg,  #f0d6dacc 15%, #637AFF 70.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: normal;
    text-align: center;
}


.feesTableHeadingRows{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 800px;
    height: 450px;
    background-color: rgb(72, 72, 72);
    border-radius: 15px;
    padding-bottom: 50px;
    padding-top: 50px;


}

.rows-eachFees{
    display: flex;
    border: 1px solid rgba(172, 175, 172, 0.829);
    width: 600px;
    font-size: 28px;
    border-radius: 5px;
}

.columnOne{
    padding: 12px;
    width: 65%;
}

.columnOne > span, .feeSubHeading{
    font-size: 16px;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(255 219 102 / var(--tw-text-opacity));
}

.feetermparent{
    border: none !important;
    padding-left: 10px;
}

.feesTerms{
    --tw-text-opacity: 1;
    color: rgb(255 219 102 / var(--tw-text-opacity));
    font-size: 14px;
    margin-top: 10px;
}

.columnTwo{
    align-self: center;
    margin-left: 10px;
    width: 35%;
    font:bolder;
    
}


@media (max-width: 855px) {
    .feesTableHeadingRows{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 550px;
        height: 360px;    
    }
    
    .rows-eachFees{
        display: flex;
        border: 1px solid rgba(172, 175, 172, 0.829);
        width: 80%;
        font-size: 20px;
        border-radius: 5px;
    }
}


@media (max-width: 600px) {
    .feesTableHeadingRows{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 95%;
        height: 360px;    
    }

    .rows-eachFees{
        display: flex;
        border: 1px solid rgba(172, 175, 172, 0.829);
        width: 95%;
        font-size: 18px;
        border-radius: 5px;
    }

    .columnTwo{
        align-self: center;
        margin-left: 10px;
        width: 45%;
        font:bolder;
        
    }

    .columnOne{
        padding: 12px;
        width: 55%;
    }
}